* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
form {
  height: 300px;
  width: 300px;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  .validity-ccv{
    display: flex;
    flex-direction: row;
    div{
      align-items: flex-start;
      display: flex;
      width: 100%;
    }
  }
  label {
    font-size: 12px;
  }
  input,
  select {
    padding: 5px;
    border-radius: 5px;
    border: solid 2px rgb(173, 172, 172);
  }
  #ccv{
    width:100%;
  }
}
.card {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 350px;
  height: 240px;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgb(176, 174, 174);
  box-shadow: rgba(0, 0, 0, 0.486) 0px 2px 4px, rgba(0, 0, 0, 0.662) 0px 7px 13px -3px, rgba(198, 198, 198, 0.886) 0px -4px 0px inset;
  article {
 height: 50%;
 span{
  font-size: small;
 }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      p{
        min-width: max-content;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
.img{
  display: flex;
  align-items: end;
  justify-content: space-between;
  .logo{
    align-self: flex-start;
  }
 }
.ruptBank {
  background-color: rgb(118, 171, 53);
  background-image: url("../img/cardbackground2.png");
  background-size: contain;
  color: wheat;
  input {
    color:  wheat;
  }
}
.notYourBank {
  background: rgb(32, 59, 133);
  color: aliceblue;
  input {
    background: rgb(32, 59, 133);
    color: aliceblue;
    border-style: none;
    font-size: large;
    text-align: center;
  }
}
.comradeBank {
  background-image: url("../img/cardbackground1.png");
  background-size: contain;
  color: gold;
  input {
    color: gold;
  }
}
.active {

  justify-self: flex-start;
  order: -5;
  box-shadow:rgba(198, 198, 198, 0.886) 0px -4px 0px inset,
  rgb(234, 255, 0) 0px 0px 7px 5px;
  margin-bottom: 50px;
  &:hover {
    cursor: default;
  }
}
#card {
  &:hover {
    cursor: default;
  }
  input {
    border-style: none;
    background: none;

  }
  #inputCardNumber {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  #inputDate{
    text-align: right;
    font-size: 20px;
    width: 50%;
  }
}
a, button{
  text-decoration: none;
  background: black;
  color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
}
 input[type="submit"]{
  color:bisque;
  background: darkred;
  padding: 10px;
 }
.hide {
  display: none;
}
aside{
  height: 50px;
  button{
    margin: 0 10px;
  }
}
p{
  padding:0;
  margin:0;
  font-size: 20px;
  font-weight: 500;
}
h2{
  margin: 0 0 20px 0;
  color: rgb(129, 129, 129);
}
h3{
  margin: 0 0 20px 0;
  font-size: 30px;
  font-weight: 500;
}
